
.bg-cut{
    background-image: url(https://i.ibb.co/y4jQnG2/webaliser-TPTXZd9m-Oo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 420px;
    width: 100%;
    clip-path: polygon(30% 0 , 100% 0 , 100% 100% , 0 100%);
}
